<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File"
              fileName="/home/txnproc/trace/vouchermanagementacl.log"
              layout="${date:format=dd/MM/yyyy HH\:mm\:ss.ffff} | ${level} | ${callsite:className=true} | ${message} | ${exception:format=type,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:InnerExceptionSeparator= | }"
              archiveFileName="/home/txnproc/trace/vouchermanagementacl.{#####}.log"
              archiveAboveSize="104857600"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              maxArchiveFiles="2"/>
	  <target name="healthlogfile" xsi:type="File"
	          fileName="/home/txnproc/trace/vouchermanagementacl_health.log"
	          layout="${date:format=dd/MM/yyyy HH\:mm\:ss.ffff} | ${level} | ${callsite:className=true} | ${message} | ${exception:format=type,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:InnerExceptionSeparator= | }"
		  archiveFileName="/home/txnproc/trace/vouchermanagementacl_health.{#####}.log"
	          archiveAboveSize="104857600"
	          archiveNumbering="Sequence"
	          concurrentWrites="true"
	          maxArchiveFiles="2"/>
	  </target>
  </targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />
		<logger name="*" minlevel="Debug" writeTo="logfile">
			<filters defaultAction="Log">
				<when condition="contains('${message}', 'HEALTH_CHECK')" action="Ignore"></when>
			</filters>
		</logger>
		<logger name="*" minlevel="Debug" writeTo="healthlogfile">
			<filters defaultAction="Ignore">
				<when condition="contains('${message}', 'HEALTH_CHECK')" action="Log"></when>
			</filters>
		</logger>
	</rules>
</nlog>
